* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

*:focus,
*:focus-visible {
  outline: none;
  box-shadow: 0 0 0.8rem var(--clr-grey-1);
}
