/* Typography Scale */
/*  
  10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98
*/
/* ******************** */
/* Spaces */
/* ******************** */
/* 
  2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128
*/
:root {
  --clr-primary: hsl(4, 100%, 67%);
  --clr-secondary: #ff5474;
  --clr-primary-shade: #1b4133;
  --clr-white: #fff;
  --clr-grey-1: hsl(234, 29%, 20%);
  --clr-grey-2: hsl(235, 18%, 26%);
  --clr-grey-3: hsl(0, 0%, 58%);
  --clr-grey-4: hsl(0, 0%, 100%);
  --fs-default: var(--fs-4);
  --ff-main: "Roboto";
  --fw-normal: 400;
  --fw-bold: 700;
  --fs-1: 0.625rem;
  --fs-2: 0.75rem;
  --fs-3: 0.875rem;
  --fs-4: 1rem;
  --fs-5: 1.125rem;
  --fs-6: 1.25rem;
  --fs-7: 1.5rem;
  --fs-8: 1.875rem;
  --fs-9: 2.25rem;
  --fs-10: 2.75rem;
  --fs-11: 3.25rem;
  --fs-12: 3.875rem;
  --fs-13: 4.625rem;
  --fs-14: 5.375rem;
  --fs-15: 6.125rem;
  --sp-1: 0.125rem;
  --sp-2: 0.25rem;
  --sp-3: 0.5rem;
  --sp-4: 0.75rem;
  --sp-5: 1rem;
  --sp-6: 1.5rem;
  --sp-7: 2rem;
  --sp-8: 3rem;
  --sp-9: 4rem;
  --sp-10: 5rem;
  --sp-11: 6rem;
  --sp-12: 8rem;
  --border-normal: var(--sp-3);
  --border-large: var(--sp-5);
  --tablet-max-width-cta: 33.125rem;
  --desktop-max-width-cta: 58rem;
}

.thanks {
  --tablet-max-width-cta: 31.25rem;
  --desktop-max-width-cta: 31.25rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6,
td,
th {
  font-weight: inherit;
  font-size: inherit;
}

button,
input {
  font-weight: inherit;
  font-size: inherit;
  font-family: inherit;
}

img,
picture {
  max-width: 100%;
  display: block;
}

*:focus,
*:focus-visible {
  outline: none;
  box-shadow: 0 0 0.8rem var(--clr-grey-1);
}

body {
  font-family: var(--ff-main), sans-serif;
  font-size: var(--fs-default);
  font-weight: var(--fw-normal);
  line-height: 1.5;
}

.container {
  display: flex;
  justify-content: center;
  min-height: 100svh;
  background-color: var(--clr-grey-1);
}
@media (min-width: 23.9375rem) {
  .container {
    align-items: center;
  }
}

.cta {
  background-color: var(--clr-grey-4);
}
@media (min-width: 23.9375rem) {
  .cta {
    border-radius: var(--border-large);
    max-width: var(--tablet-max-width-cta);
  }
}
@media (min-width: 48.125rem) {
  .cta {
    max-width: var(--desktop-max-width-cta);
    padding: var(--sp-7);
    display: grid;
    grid-template-columns: 1fr auto;
    gap: var(--sp-6);
  }
}

.cta-content {
  padding-block: var(--sp-7);
  padding-inline: var(--sp-6);
}
@media (min-width: 48.125rem) {
  .cta-content {
    grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.cta-title {
  font-size: var(--fs-10);
  font-weight: var(--fw-bold);
  line-height: 1.1;
  margin-block-end: var(--sp-6);
}

.cta-description {
  margin-block-end: var(--sp-6);
}

.cta-list {
  list-style: none;
  margin-block-end: vaR(--sp-8);
}

.cta-list-item {
  display: flex;
  align-items: start;
  gap: var(--sp-5);
}

.cta-list-item:not(:last-child) {
  margin-block-end: var(--sp-4);
}

.cta-form {
  display: flex;
  flex-direction: column;
}

.cta-label {
  font-weight: var(--fw-bold);
  font-size: var(--fs-3);
  margin-block-end: var(--sp-3);
}

.cta-email {
  border-radius: var(--border-normal);
  padding-inline: var(--sp-5);
  padding-block: var(--sp-5);
  border: 1px solid var(--clr-grey-3);
  margin-block-end: var(--sp-5);
}

.cta-email:focus {
  box-shadow: none;
  outline: 1px solid var(--clr-grey-3);
}

.cta-email::placeholder {
  color: var(--clr-grey-3);
}

.cta-btn {
  border: none;
  cursor: pointer;
  padding-block: var(--sp-5);
  border-radius: var(--border-normal);
  background-color: var(--clr-grey-1);
  color: var(--clr-grey-4);
  font-weight: var(--fw-bold);
}

.cta-btn:hover {
  background: linear-gradient(to right, var(--clr-secondary), var(--clr-primary));
  box-shadow: 0 3px 10px var(--clr-secondary);
}

.cta.thanks {
  padding-inline: var(--sp-9);
  padding-block: var(--sp-8);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0;
}

.thanks .cta-img {
  padding: 0;
  margin-block-end: var(--sp-6);
}

.thanks .cta-content {
  padding: 0;
}

.thanks .cta-description {
  margin-block-end: var(--sp-7);
}

.thanks span {
  font-weight: var(--fw-bold);
}

/*# sourceMappingURL=styles.css.map */
